<h1>Listing themes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Screenshot</th>
    <th>Short descr</th>
    <th>Long descr</th>
    <th>File</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @themes.each do |theme| %>
  <tr>
    <td><%= theme.name %></td>
    <td><%= theme.screenshot %></td>
    <td><%= theme.short_descr %></td>
    <td><%= theme.long_descr %></td>
    <td><%= theme.file %></td>
    <td><%= link_to 'Show', theme %></td>
    <td><%= link_to 'Edit', edit_theme_path(theme) %></td>
    <td><%= link_to 'Destroy', theme, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Theme', new_theme_path %>
